# Flutter/Dart
.dart_tool/
.packages
build/
*.a
*.so
*.jar
*.class
*.log
.flutter-plugins
.flutter-plugins-dependencies

# Secrets
/.env

# IDE files
.idea/
.vscode/
*.imlcommit_message.txt
commit_message.txt
